body {
  font-family: Inter;
  max-width: 800px;
  margin: 5rem auto 0 auto;
  padding: 0 2rem;
}

section {
  margin: 1.5rem 0;
}

div,
p {
  margin: 0;
  padding: 0;
}

a {
  color: black;
}

.profile-container {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.profile-image {
  border-radius: 20%;
}

.profile-title {
  font-weight: 600;
  font-size: 2rem;
}

.profile-text {
  margin: 1rem 0;
  line-height: 1.5rem;
}

.tab-buttons {
  border-bottom: 1px solid #DCDCDC;
}

.tab-buttons button {
  padding: 0.75rem 1.25rem;
  background: none;
  border: none;
  font-size: 1rem;
  color: #DCDCDC;
  cursor: pointer;
}

.tab-buttons button:hover,
.tab-buttons button.active {
  padding: 12px 19px;
  border: 1px solid #DCDCDC;
  border-bottom: none;
  border-radius: 8px 8px 0 0;
}

.tab-buttons button.active {
  color: black;
  box-shadow: 0px 1px 0px #FFFFFF;
  transition: 0.2s linear;
}

.tab-contents {
  margin: 1.5rem 0;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.tab-content-section {
  margin-bottom: 2rem;
}

.tab-content-section li {
  margin: 0.5rem 0;
}

.tab-content-title {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}